node_modules/
.next/
out/
*.zip
*.log
.env
.env.local
frontend/node_modules/
frontend/.next/
frontend/out/
lambda/**/utils.mjs
lambda/**/index_deploy.mjs
aws-setup/trust-policy.json
aws-setup/cors.json
aws-setup/secret.json
aws-setup/gsi.json
aws-setup/gsi-update.json
aws-setup/web-policy.json
